<%- include('header') -%>
<%- include('nav') -%>
<% if(locals.valid){ %>
  <div class="alter alert-success text-center">
  <%=valid %>
</div>
<%}%>

<blockquote class="mt-2 blockquote text-center">
    <p class="mb-0">Ajout d'une nouvelle question</p>
    <footer class="blockquote-footer">Vous pouvez ajouter une nouvelle question en renseignant les champs ci-dessous.</cite></footer>
  </blockquote>
<div style="background-color:#FFFFFF;" class="container border rounded mt-5">
    <a class="mt-2 btn btn-secondary stretched-link" href="/route/dashboard">Annuler <span class="sr-only">(current)</span></a>
<form action="/route/add" id="myForm" method="POST" class="pt-3 pb-3">
    <div class="form-group">
        <label for="question">Question</label>
        <input type="text" required class="form-control" placeholder='Question' value="" name="question">
        <small class="form-text text-muted text-left"></small>
    </div>
    <div class="form-group">
        <label id="labelR1" for="texteR1">Reponse 1 :</label>
        <input id="texteR1" type="text" required class="form-control" placeholder='Réponse 1' value="" name="texteR1">
    </div>
    <div class="form-group">
        <label id="labelR2" for="texteR2">Reponse 2 :</label>
        <input id="texteR2" type="text" required class="form-control" placeholder='Réponse 2' value="" name="texteR2">
    </div>
    <div class="form-group">
        <label id="labelR3" for="texteR3">Reponse 3 :</label>
        <input id="texteR3" type="text" required class="form-control" placeholder='Réponse 3' value="" name="texteR3">
    </div>

    <div class="form-group">
        <label for="answers">Bonne réponse</label>
        <select onChange="change(this.value);" name="answers" required class="form-control" value="" id="answer-select">
            <option value="">--Please choose an option--</option>
            <option value="1">Réponse 1</option>
            <option value="2">Réponse 2</option>
            <option value="3">Réponse 3</option>

        </select>
    </div>
    <div class="form-group">
        <label for="theme">Theme</label>
        <select name="theme" required class="form-control" value="" id="theme">
            <option value="">--Please choose an option--</option>
            <% listResults.forEach(function (theme) { %>
            <option style="text-transform: capitalize;" value="<%=theme.id%>"><%=theme.val.replace(/\w/, c => c.toUpperCase())%></option>
            <%})%>

        </select>
    </div>
    <div class="form-group">
        <label for="difficulty">Difficulté</label>
        <select name="difficulty" required class="form-control" value="" id="difficulty">
            <option value="">--Please choose an option--</option>
            <option class="text-success" value="1">Facile</option>
            <option class="text-warning" value="2">Moyen</option>
            <option class="text-danger" value="3">Difficile</option>

        </select>
    </div>

    <button type="submit" id="regbtn" class="btn btn-success rounded-pill">Ajouter</button>
    
</form>
<script>
    function change(value){
            document.getElementById("texteR1").classList.remove('text-success');
            document.getElementById("texteR2").classList.remove('text-success');
            document.getElementById("texteR3").classList.remove('text-success');
            document.getElementById("labelR1").classList.remove('text-success');
            document.getElementById("labelR2").classList.remove('text-success');
            document.getElementById("labelR3").classList.remove('text-success');
        if(value ==1){
            document.getElementById("labelR1").classList.add('text-success');
            document.getElementById("texteR1").classList.add('text-success');
        }else if(value ==2){
            document.getElementById("texteR2").classList.add('text-success');
            document.getElementById("labelR2").classList.add('text-success');
        }else if(value ==3){
            document.getElementById("texteR3").classList.add('text-success');
            document.getElementById("labelR3").classList.add('text-success');
        }
    }
</script>
<%- include('footer') -%>